
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487751671048'); /* IE9*/
  src: url('iconfont.eot?t=1487751671048#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487751671048') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487751671048') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487751671048#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user:before { content: "\e600"; }

.icon-user1:before { content: "\e643"; }

.icon-icon01:before { content: "\e67e"; }

.icon-badminton:before { content: "\e8de"; }

.icon-basketball-1:before { content: "\e8df"; }

.icon-cup:before { content: "\e8e4"; }

.icon-ping-pong-1:before { content: "\e8ea"; }

.icon-diyi:before { content: "\e608"; }

.icon-dier:before { content: "\e609"; }

.icon-disan:before { content: "\e60a"; }

.icon-icon_diyiming:before { content: "\e647"; }

.icon-diyiming:before { content: "\e631"; }

.icon-huodongchangdi:before { content: "\e611"; }

